<div class="container">
  <h1>{{ title }}</h1>

  <div class="add-todo-form">
    <input 
      type="text" 
      placeholder="What needs to be done?" 
      [(ngModel)]="newTodoTitle" 
      (keydown.enter)="addTodo()"
    >
    <button (click)="addTodo()">Add Task</button>
  </div>

  <div class="stats" *ngIf="todos.length > 0">
    <p>{{ remainingCount }} item(s) remaining</p>
  </div>

  <ul class="todo-list">
    <li *ngFor="let todo of todos">
      <div class="todo-item" [class.completed]="todo.completed">
        <input 
          type="checkbox" 
          [(ngModel)]="todo.completed" 
          [id]="'checkbox_' + todo.id"
        >
        <label [for]="'checkbox_' + todo.id">{{ todo.title }}</label>
      </div>
      
      <button class="delete-btn" (click)="deleteTodo(todo.id)">
        Delete
      </button>
    </li>
  </ul>
  
  <p *ngIf="todos.length === 0" class="empty-state">
    No tasks yet! Add one above.
  </p>
</div>